<section id="add" class="container">
    <div class="form-wrap">
        <h1>Add Discount</h1>
        {{#each errors}}
            <div class="error">
                <p>{{text}}</p>
            </div>
        {{/each}}
        <form action="add/" method="POST">
            <div class="input-group">
                <label for="discountId">Discount id</label>
                <input type="number"  required name="discountId" id="discountId" class="input-box" placeholder="eg. 1, 2, 3, 4"  value={{discountId}}>
            </div>
            <div class="input-group">
                <label for="discountName">Discount Name</label>
                <input type="text" required name="discountName" id="discountName" class="input-box" placeholder="eg. V. V. Putin "
                       maxlength="100" value={{discountName}}>
            </div>
            <div class="input-group">
                <label for="discountDescription">discountDescription</label>
                <input type="text" required name="discountDescription" id="discountDescription" class="input-box" placeholder="eg. la la la"
                       maxlength="100" value={{discountDescription}}>
            </div>
            <div class="input-group">
                <label for="discountPercent">Address</label>
                <input type="number" required name="discountPercent" id="discountPercent" class="input-box" placeholder="eg. 5, 10, 15"
                       maxlength="100" value={{discountPercent}}>
            </div>
            <input type="submit" value="Add Discount" class="btn btn-reverse">
        </form>
    </div>
</section>
