<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<!--<script>-->
<!--    $(document).ready(function () {-->
<!--        $("#addProductForm").validate({-->
<!--            rules:{-->
<!--                productId:{-->
<!--                    required: true,-->
<!--                    minlength: 1,-->
<!--                    maxlength: 8,-->
<!--                    digits: true-->
<!--                },-->
<!--                productName:{-->
<!--                    required: true,-->
<!--                    minlength: 1,-->
<!--                    maxlength: 100,-->
<!--                },-->
<!--                typeId:{-->
<!--                    required: true,-->
<!--                    minlength: 1,-->
<!--                    maxlength: 8,-->
<!--                    digits: true-->
<!--                },-->
<!--                manufacturerId:{-->
<!--                    required: true,-->
<!--                    minlength: 1,-->
<!--                    maxlength: 8,-->
<!--                    digits: true-->
<!--                },-->
<!--                purchaseCost:{-->
<!--                    required: true,-->
<!--                    minlength: 1,-->
<!--                    maxlength: 8,-->
<!--                    digits: true-->
<!--                },-->
<!--                saleCost:{-->
<!--                    required: true,-->
<!--                    minlength: 1,-->
<!--                    maxlength: 8,-->
<!--                    digits: true-->
<!--                },-->
<!--                quantityOnStock:{-->
<!--                    required: true,-->
<!--                    minlength: 1,-->
<!--                    maxlength: 8,-->
<!--                    digits: true-->
<!--                },-->
<!--            },-->
<!--            messages:{-->
<!--                productId:{-->
<!--                    required: "Это поле обязательно для заполнения",-->
<!--                    minlength: "productId должен быть не меньше, чем 1 символ",-->
<!--                    maxlength: "Максимальное число символов - 8",-->
<!--                    digits: "Допустимые значения - числа",-->
<!--                },-->
<!--                productName:{-->
<!--                    required: "Это поле обязательно для заполнения",-->
<!--                    minlength: "productName должно быть минимум 1 символа",-->
<!--                    maxlength: "productName должно быть максимум 100 символов",-->
<!--                },-->
<!--                typeId:{-->
<!--                    required: "Это поле обязательно для заполнения",-->
<!--                    minlength: "typeId должен быть не меньше, чем 1 символ",-->
<!--                    maxlength: "Максимальное число символов - 8",-->
<!--                    digits: "Допустимые значения - числа",-->
<!--                },-->
<!--                manufacturerId:{-->
<!--                    required: "Это поле обязательно для заполнения",-->
<!--                    minlength: "manufacturerId должен быть не меньше, чем 1 символ",-->
<!--                    maxlength: "Максимальное число символов - 8",-->
<!--                    digits: "Допустимые значения - числа",-->
<!--                },-->
<!--                purchaseCost:{-->
<!--                    required: "Это поле обязательно для заполнения",-->
<!--                    minlength: "purchaseCost должно быть не меньше, чем 1 символ",-->
<!--                    maxlength: "Максимальное число символов - 8",-->
<!--                    digits: "Допустимые значения - числа"-->
<!--                },-->
<!--                saleCost:{-->
<!--                    required: "Это поле обязательно для заполнения",-->
<!--                    minlength: "saleCost должно быть не меньше, чем 1 символ",-->
<!--                    maxlength: "Максимальное число символов - 8",-->
<!--                    digits: "Допустимые значения - числа"-->
<!--                },-->
<!--                quantityOnStock:{-->
<!--                    required: "Это поле обязательно для заполнения",-->
<!--                    minlength: "quantityOnStock должно быть не меньше, чем 1 символ",-->
<!--                    maxlength: "Максимальное число символов - 8",-->
<!--                    digits: "Допустимые значения - числа"-->
<!--                },-->
<!--            }-->
<!--        });-->
<!--        // $("#addProduct").on("click", function () {-->
<!--        //     if($('.error').length === 0)-->
<!--        //-->
<!--        // });-->
<!--    });-->
<!--</script>-->
<section id="add" class="container">
    <div class="form-wrap">
        <h1>Add A Product</h1>
        {{#each errors}}
            <div class="error">
                <p>{{text}}</p>
            </div>
        {{/each}}
        <form id ="addProductForm" action="add/" method="POST">
            <div class="input-group">
                <label for="productId">Product type id</label>
                <input type="number" name="productId" id="productId" class="input-box" placeholder="eg. 1, 2, 3, 4"  value={{productId}}>
            </div>
            <div class="input-group">
                <label for="productName">Product Name</label>
                <input type="text" name="productName" id="productName" class="input-box" placeholder="eg. Intel Core I7, GYGABITE GeForce GTX "
                       maxlength="100" value={{productName}}>
            </div>
            <div class="input-group">
                <label for="typeId">Product type id</label>
                <input type="number" name="typeId" id="typeId" class="input-box" placeholder="eg. 1, 2, 3, 4"  value={{typeId}}>
            </div>
            <div class="input-group">
                <label for="manufacturerId">Manufacturer Id</label>
                <input type="number" name="manufacturerId" id="manufacturerId" class="input-box" placeholder="eg. 1, 2, 3, 4" value={{manufacturerId}}>
            </div>
            <div class="input-group">
                <label for="purchaseCost">Purchase Cost</label>
                <input type="number" name="purchaseCost" id="purchaseCost" class="input-box" placeholder="eg. 10000, 267222, 100000" value={{purchaseCost}}>
            </div>
            <div class="input-group">
                <label for="saleCost">Sale Cost</label>
                <input type="number" name="saleCost" id="saleCost" class="input-box" placeholder="eg. 10000, 267222, 100000" value={{saleCost}}>
            </div>
            <div class="input-group">
                <label for="quantityOnStock">QuantityOnStock</label>
                <input type="number" name="quantityOnStock" id="quantityOnStock" class="input-box" placeholder="eg. 100, 200, 300" value={{quantityOnStock}}>
            </div>
            <input type="submit" id ="addProduct" value="Add Product" class="btn btn-reverse">
        </form>
    </div>
</section>
