<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $("#update-btn").on("click", function () {
            const productId = $('input[name="productId"]').val();
            const form = $('#updateForm');
            if($("#productName").val()===""){
                $("#productName").attr("disabled", "disabled");
            }
            if($("#typeId").val()===""){
                $("#typeId").attr("disabled", "disabled");
            }
            if($("#manufacturerId").val()===""){
                $("#manufacturerId").attr("disabled", "disabled");
            }
            if($("#purchaseCost").val()===""){
                $("#purchaseCost").attr("disabled", "disabled");
            }
            if($("#saleCost").val()===""){
                $("#saleCost").attr("disabled", "disabled");
            }
            if($("#quantityOnStock").val()===""){
                $("#quantityOnStock").attr("disabled", "disabled");
            }

            const data2 = form.serialize();

            $.ajax({
                method: "PUT",
                url: "/api/products/"+productId,
                dataType: 'json',
                data:  data2
            });
            window.location.href="http://localhost:8888/api/products";
        });
    });
    </script>
<section id="add" class="container">
    <div class="form-wrap">
        <h1>Update Product</h1>
        {{#each errors}}
            <div class="error">
                <p>{{text}}</p>
            </div>
        {{/each}}
        <form id="updateForm">

            <div class="input-group">
                <label for="productId">Product id</label>
                <input type="number" name="productId" id="productId" class="input-box" placeholder="eg. 1, 2, 3, 4"  value={{productId}}>
            </div>
            <div class="input-group">
                <label for="productName">Product Name</label>
                <input type="text" name="productName" id="productName" class="input-box" placeholder="eg. Intel Core I7, GYGABITE GeForce GTX "
                       maxlength="100" value={{productName}}>
            </div>
            <div class="input-group">
                <label for="typeId">Product type id</label>
                <input type="number" name="typeId" id="typeId" class="input-box" placeholder="eg. 1, 2, 3, 4"  value={{typeId}}>
            </div>
            <div class="input-group">
                <label for="manufacturerId">Manufacturer Id</label>
                <input type="number" name="manufacturerId" id="manufacturerId" class="input-box" placeholder="eg. 1, 2, 3, 4" value={{manufacturerId}}>
            </div>
            <div class="input-group">
                <label for="purchaseCost">Purchase Cost</label>
                <input type="number" name="purchaseCost" id="purchaseCost" class="input-box" placeholder="eg. 10000, 267222, 100000" value={{purchaseCost}}>
            </div>
            <div class="input-group">
                <label for="saleCost">Sale Cost</label>
                <input type="number" name="saleCost" id="saleCost" class="input-box" placeholder="eg. 10000, 267222, 100000" value={{saleCost}}>
            </div>
            <div class="input-group">
                <label for="quantityOnStock">QuantityOnStock</label>
                <input type="number" name="quantityOnStock" id="quantityOnStock" class="input-box" placeholder="eg. 100, 200, 300" value={{quantityOnStock}}>
            </div>
        </form>
        <button id="update-btn" class="btn btn-reverse">Update Product</button>
    </div>
</section>
