<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $("#update-btn").on("click", function () {
            const orderId = $('input[name="orderId"]').val();
            const form = $('#updateForm');
            if($("#clientId").val()===""){
                $("#clientId").attr("disabled", "disabled");
            }
            if($("#deliveryId").val()===""){
                $("#deliveryId").attr("disabled", "disabled");
            }
            if($("#deliveryCost").val()===""){
                $("#deliveryCost").attr("disabled", "disabled");
            }

            const data2 = form.serialize();

            $.ajax({
                method: "PUT",
                url: "/api/orders/"+orderId,
                dataType: 'json',
                data:  data2
            });
            window.location.href="http://localhost:8888/api/orders";
        });
    });
</script>
<section id="add" class="container">
    <div class="form-wrap">
        <h1>Update Order</h1>
        {{#each errors}}
            <div class="error">
                <p>{{text}}</p>
            </div>
        {{/each}}
        <form id="updateForm">

            <div class="input-group">
                <label for="orderId">Order id</label>
                <input type="number" name="orderId" id="orderId" class="input-box" placeholder="eg. 1, 2, 3, 4"  value={{orderId}}>
            </div>
            <div class="input-group">
                <label for="clientId">clientId</label>
                <input type="number" name="clientId" id="clientId" class="input-box" placeholder="eg. 1, 2, 3, 4 "
                       maxlength="7" value={{clientId}}>
            </div>
            <div class="input-group">
                <label for="deliveryId">deliveryId</label>
                <input type="number" name="deliveryId" id="deliveryId" class="input-box" placeholder="eg. 1, 2, 3, 4"  maxlength="7" value={{deliveryId}} >
            </div>
            <div class="input-group">
                <label for="deliveryCost">deliveryCost</label>
                <input type="number" name="deliveryCost" id="deliveryCost" class="input-box" placeholder="eg. 200, 600, 1000" maxlength="100" value={{deliveryCost}} >
            </div>
        </form>
        <button id="update-btn" class="btn btn-reverse">Update Order</button>
    </div>
</section>
